/.idea/
/.vscode/
/.history/
/.DS_Store
/.env
/.env.*
/vendor/
/node_modules/
*.log
*.cache
*.sqlite
.sass-cache/
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
composer.lock
/.php_cs.cache
/.phpunit.result.cache
uploads/
tmp/
*.bak
*.swp
.env.local
.env.production

# XAMPP
/xampp/
